:root {
  --color-white: #ffffff;
  --color-black: #191919;
  --color-yellow: #f4df74;
  --color-yellow-hover: #e0c641;
  --color-light-gray: #eeeeee;
  --color-dark-gray: #2c2c2c;
  --color-almost-white: #e6e6e6;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RFDewiExpanded";
  src: url("../fonts/RFDewiExpanded-Regular.ttf") format("woff2");
}

.br-desktop {
  display: block;
  @media (max-width: 800px) {
    display: none;
  }
}

.br-mobile {
  display: none;
  @media (max-width: 800px) {
    display: block;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 677px;
  object-fit: cover;
  z-index: -2;
}

.content {
  position: relative;
  z-index: 1;
}

.header {
  padding-top: 30px;
}

.header__text-wrapper {
  position: relative;
  max-width: 1130px;
  margin: 0 auto;
}

.header__title-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts__text {
  font-family: "RFDewiExpanded";
  font-size: 14px;
  color: var(--color-white);
  font-weight: 800;
}

.contacts--top {
  display: flex;
  @media (max-width: 1150px) {
    display: none;
  }
}

.contacts--bottom {
  display: none;
  @media (max-width: 1150px) {
    display: flex;
    margin-top: 260px;
    padding: 0 30px;
  }
}

.contacts__text-description {
  font-family: "Inter";
  font-size: 14px;
  color: var(--color-white);
}

.header__title {
  font-family: "RFDewiExpanded";
  font-size: 25px;
  color: var(--color-white);
  font-weight: 800;
  text-align: center;
}

.header__subtitle {
  font-family: "RFDewiExpanded";
  font-size: 16px;
  color: var(--color-white);
  font-weight: 400;
  text-align: center;
}

.main__description {
  padding-top: 133px;
  font-family: "RFDewiExpanded";
  font-size: 60px;
  color: var(--color-white);
  font-weight: 800;
  text-align: center;
  @media (max-width: 1150px) {
    font-size: 35px;
  }
}

.button {
  display: block;
  padding: 22px 36px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: var(--color-yellow);
  font-family: "RFDewiExpanded";
  font-weight: 800;
  font-size: 16px;
  border-radius: 10px;
  transition: background-color linear 0.3s;
  @media (max-width: 1150px) {
    padding: 17px 36px;
    font-size: 17px;
  }
}

.button:hover {
  background-color: var(--color-yellow-hover);
}

.modern-design {
  margin: 340px auto;
  max-width: 1130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white);
  @media (max-width: 1150px) {
    margin-top: 100px;
    margin-bottom: 276px;
    padding: 0 30px;
  }
}

.main__title {
  margin-bottom: 55px;
  font-family: "RFDewiExpanded";
  font-size: 48px;
  color: var(--color-black);
  font-weight: 800;
  text-align: center;
  @media (max-width: 1150px) {
    font-size: 35px;
    margin-bottom: 70px;
  }
}

.main__title--light {
  margin-bottom: 46px;
  color: var(--color-white);
}

.main__title--lg {
  @media (max-width: 1150px) {
    font-size: 46px;
  }
}

.main__text {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);
  text-align: center;
}

.main__text--light {
  color: var(--color-white);
}

.modern-design__list {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  align-items: center;
  justify-items: center;
  @media (max-width: 1150px) {
    grid-template-columns: 1fr 1fr;
  }
}

.modern-design__list-item {
  background-color: var(--color-white);
  border-radius: 6px;
}

.modern-design__img {
  border-radius: 6px;
}

.modern-design__price-wrapper {
  display: flex;
  gap: 15px;
  padding-top: 17px;
}

.modern-design__description {
  font-family: "RFDewiExpanded";
  font-size: 24px;
  color: var(--color-black);
  font-weight: 400;
}

.modern-design__price {
  font-family: "RFDewiExpanded";
  font-size: 18px;
  color: var(--color-black);
  font-weight: 400;
}

.modern-design__video-wrapper {
  position: relative;
}

.modern-design__video {
  position: absolute;
  top: 175px;
  width: 100%;
  height: 350px;
  border-radius: 15px;
  @media (max-width: 1150px) {
    top: 109px;
  }
}

.production {
  padding-top: 305px;
  background-color: var(--color-light-gray);
  @media (max-width: 1150px) {
    padding: 247px 30px 0 30px;
  }
}

.production__list {
  padding-top: 100px;
  padding-bottom: 130px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1130px;
  margin: 0 auto;
  gap: 34px;
  @media (max-width: 1150px) {
    padding: 40px 0 70px 0;
    grid-template-columns: 1fr;
    max-width: 350px;
    gap: 60px;
  }
}

.production__img {
  margin-bottom: 34px;
  width: 350px;
  height: 211px;
  object-fit: cover;
  border-radius: 6px;
}

.main__subtitle {
  padding-bottom: 25px;
  font-family: "RFDewiExpanded";
  font-size: 20px;
  font-weight: 800;
  color: var(--color-black);
  text-align: center;
}

.prints {
  padding-top: 98px;
  padding-bottom: 320px;
  max-width: 1130px;
  margin: 0 auto;
  @media (max-width: 1150px) {
    padding: 110px 30px 190px 30px;
  }
}

.prints__list {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1130px;
  gap: 34px;
  @media (max-width: 1150px) {
    margin: 0 auto;
    grid-template-columns: 1fr;
    padding-top: 40px;
    gap: 42px;
  }
}

.prints__item {
  @media (max-width: 1150px) {
    max-width: 395px;
    margin: 0 auto;
  }
}

.prints__img {
  margin-bottom: 40px;
  max-width: 545px;
  max-height: 316px;
  object-fit: cover;
  border-radius: 6px;
  @media (max-width: 1150px) {
    max-width: 395px;
    max-height: 229px;
  }
}

.scheme {
  background-color: var(--color-black);
}

.scheme__wrapper {
  position: relative;
  max-width: 1130px;
  margin: 0 auto;
  padding-top: 298px;
  padding-bottom: 174px;
  @media (max-width: 1150px) {
    padding: 230px 30px 110px 30px;
  }
}

.scheme__help-img {
  position: absolute;
  top: -180px;
  padding: 95px 5px;
  background-image: url("../images/help.jpg");
  max-width: 1125px;
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  @media (max-width: 1150px) {
    height: 270px;
    top: -130px;
    width: calc(100% - 60px);
    padding: 38px 5px;
  }
}

.scheme__title {
  padding-bottom: 25px;
  font-family: "RFDewiExpanded";
  font-size: 24px;
  font-weight: 800;
  color: var(--color-white);
}

.scheme__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 65px;
  margin: 0 auto;
  max-width: 750px;
  gap: 80px;
  @media (max-width: 1150px) {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

.scheme__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.scheme__icon {
  max-width: 100px;
}

.our-design {
  margin: 0 auto;
  max-width: 1130px;
  padding-top: 125px;
  padding-bottom: 340px;
  text-align: center;
  @media (max-width: 1150px) {
    padding: 85px 30px 570px 30px;
  }
}

.cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 36px;
  margin-top: 80px;
  @media (max-width: 1150px) {
    grid-template-columns: 1fr 1fr;
  }
}

.cards-list__img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.main__section-wrapper {
  position: relative;
  max-width: 1130px;
  margin: 0 auto;
  @media (max-width: 1150px) {
    width: calc(100% - 60px);
  }
}

.our-shops {
  position: absolute;
  top: -150px;
  max-width: 1125px;
  width: 100%;
  padding-top: 83px;
  background-color: var(--color-almost-white);
  border-radius: 15px;
  overflow: hidden;
  @media (max-width: 1150px) {
    top: -461px;
  }
}

.our-shops__img-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 60px;
  @media (max-width: 1150px) {
    grid-template-columns: 1fr;
  }
}

.our-shops__spb,
.our-shops__msc {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 472px;
  position: relative;
}

.our-shops__spb {
  background-image: url("../images/spb.jpg");
}

.our-shops__msc {
  background-image: url("../images/msc.jpg");
}

.our-shops__text {
  position: absolute;
  bottom: 27px;
  left: 27px;
  margin: 0;
  font-family: "RFDewiExpanded";
  color: var(--color-white);
  font-weight: 800;
  font-size: 24px;
}

.our-colabs {
  padding-top: 764px;
  background-color: var(--color-black);
}

.our-colabs__wrapper {
  padding-bottom: 80px;
  max-width: 1130px;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-dark-gray);
  @media (max-width: 1150px) {
    padding: 310px 30px 108px 30px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 34px;
  background-color: var(--color-black);
}

.footer__list {
  margin: 0 auto;
  max-width: 1130px;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  @media (max-width: 1150px) {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 30px;
  }
}

.footer__phone {
  @media (max-width: 1150px) {
    order: 1;
  }
}

.footer__center {
  text-align: center;
  @media (max-width: 1150px) {
    text-align: left;
  }
}

.footer__center .header__title {
  text-align: left;
}

.footer__center .button {
  margin: 0;
  margin-top: 40px;
  padding: 20px;
}

.footer__email {
  @media (max-width: 1150px) {
    order: 3;
  }
}
